@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body{
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.5em;
  margin:0;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  height : 100vh;
}

.tab-inner{
  /* border:1px solid red; */
  width: 300px;
  height: 350px;
  position: relative;
}
input[name=tabmenu]{
  display:none;
}
.content{
  opacity: 0;
  transition: 1s;
  position: absolute;
  top:0;
  left:-50px;
  border-radius: 10%;
  overflow: hidden;
}
.btn{
  /* border: 1px solid blue; */
  position: absolute;
  width: 100%;
  text-align: center;
  bottom:10px;
}
.btn label{
  width: 20px;
  height: 20px;
  display:inline-block;
  background-color: lightgray;
  border-radius: 50%;
  cursor: pointer;
}

input[id=tab1]:checked ~ .slide1{
  opacity: 1;
  left:0;
}
input[id=tab2]:checked ~ .slide2{
  opacity: 1;
  left:0;
}
input[id=tab3]:checked ~ .slide3{
  opacity: 1;
  left:0;
}

input[id=tab1]:checked ~ .btn label[for=tab1]{
  background-color: crimson;
}
input[id=tab2]:checked ~ .btn label[for=tab2]{
  background-color: crimson;
}
input[id=tab3]:checked ~ .btn label[for=tab3]{
  background-color: crimson;
}

