@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body{
  font-family: 'Noto Sans KR', sans-serif;
  color :#222;
  line-height: 1.5em;
}
a{
  color :#222;
  text-decoration: none;
}

.dropdown{
  display: inline-block;
  width: 250px;
}

.dropdownbtn{
  width: inherit;
  padding: 10px;
  font-size: 20px;
  background-color: yellowgreen;
  color:#fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.submenu{
  display:none;
  width: inherit;
  box-shadow: 0 0 10px black;
  padding: 20px 0;
  text-align: center;

}

.submenu a{
  display:block;

}

.dropdown:hover .submenu{
  display: block;
}