@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body{
  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
  margin:0;
  font-weight: 300;
  display : flex;
  justify-content: center;
  align-items: center;
  height : 100vh;
}

.skill-progress{

  width: 500px;
  background-color: #333;
  border-radius: 10px;
  color:#fff;
  padding: 20px;
  box-shadow : 0 20px 50px rgba(0, 0, 0, 0.3);
}

.skill-progress h1{
  text-align: center;
}


.skill-progress .item p{
  /* border: 1px solid #fff; */
  display: flex;
  justify-content: space-between;
  margin-bottom:5px;
}

.skill-progress .item span{

}

.skill-progress .item:nth-child(1){

}

.skill-progress .item:nth-child(2){

}

.skill-progress .progress{
  border : 1px solid #6cd4c4;
  padding : 5px;
  border-radius: 3px;
}

.skill-progress .progress .progress-level{
  height : 10px;
  background: linear-gradient(to right, crimson, gold);
  animation : ani 1s;
  animation-fill-mode: both;
}

@keyframes ani {
  0%{
    width: 0;
  }
}

.skill-progress .item:nth-of-type(1) .progress-level{
  animation-delay : 0s;
}

.skill-progress .item:nth-of-type(2) .progress-level{
  animation-delay : 0.2s;
}

.skill-progress .item:nth-of-type(3) .progress-level{
  animation-delay : 0.4s;
}

.skill-progress .item:nth-of-type(4) .progress-level{
  animation-delay : 0.6s;
}

.skill-progress .item:nth-of-type(5) .progress-level{
  animation-delay : 0.8s;
}