@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body{
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.5em;
  margin:0;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  height : 100vh;
}

.container{
  border: 1px solid red;
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.container .item{
  /* border: 1px solid blue; */
}

.container .item .line{
  width: 100%;
  height: 3px;
  background-color: lightgray;
}